<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <div padding>
    <div style="padding: 32px 5px" ><!--style="padding: 20% 32px 32px 32px"-->

      <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <ion-item>
          <ion-label floating>Your email address: </ion-label>
          <ion-input formControlName="email" type="email"
                     [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
        </ion-item>
        <p ion-text [hidden]="loginForm.controls.email.valid" color="danger" padding-left>
          Please input a valid email
        </p>
        <ion-item>
          <ion-label floating>Your Password</ion-label>
          <ion-input formControlName="password" type="password"
                     [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
        </ion-item>
        <p ion-text [hidden]="loginForm.controls.password.valid" color="danger" padding-left>
          Password is required
        </p>
        <button type="submit" ion-button block round [disabled]="!loginForm.valid" icon-left color="light" class="login-button">
          <ion-icon name="log-in"></ion-icon> Login</button>
      </form>
      <button ion-button clear (click)="goToForgot()" color="light" class="forgot-button">FORGOT PASSWORD?</button>

    </div>
    <button ion-button clear (click)="goToSignup()" class="slide-button position-bottom">GO TO SIGNUP<ion-icon name="arrow-down"></ion-icon></button>

  </div>

</ion-content>
