<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">


  <button ion-button clear (click)="goToLogin()" class="slide-button">
    GO TO LOGIN
    <ion-icon name="arrow-up"></ion-icon>
  </button>

  <div style="padding: 32px 5px" > <!--style="padding: 15% 32px 32px 32px"-->

    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
      <ion-item>
        <ion-label floating>Your email address: </ion-label>
        <ion-input formControlName="email" type="email"
                   [class.invalid]="!resetPasswordForm.controls.email.valid && blur"></ion-input>
      </ion-item>
      <button type="submit" ion-button block round [disabled]="!resetPasswordForm.valid" color="light" class="login-button">RESET PASSWORD</button>
    </form>

    <!--<button ion-button clear (click)="goToLogin()" color="light" class="goback-button"><ion-icon name="arrow-back"></ion-icon> GO BACK</button>-->
  </div>

</ion-content>
