<!--
  Generated template for the RepaymentHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Repayment History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <table class="table z-depth-3" style="border-top: 2px solid green; margin-bottom: 5px; margin-top: 15px;">
    <thead><th>Payment Date</th><th>Amount</th></thead>
    <tbody>
    <tr *ngFor="let paid of payments">
      <td>{{ paid.date}}</td>
      <td>{{paid.amount}}</td>
    </tr>
    </tbody>
  </table>

</ion-content>
