<ion-header>
  <ion-navbar>
    <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Loan Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <br>

  <ion-list no-border class="z-depth-3">
    <ion-list-header style="color: #fff">
      More Information
    </ion-list-header>
  </ion-list>
  <form  [formGroup]="form" (submit)="save()" novalidate >

    <ion-grid  class="z-depth-3" style="border-top: 2px solid red; margin-bottom: 5px; margin-top: 15px;">
      <ion-row responsive-sm><ion-col col-6 >Request Date: </ion-col><ion-col col-6 >{{debtor.date}} </ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Amount: </ion-col><ion-col col-6 >{{debtor.amount}} Ugx </ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Client Name: </ion-col><ion-col col-6 >{{debtor.clientName}} </ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Interest Rate: </ion-col><ion-col col-6 >{{debtor.interestRate}} %</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Interest: </ion-col><ion-col col-6 >{{debtor.interest}} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Total: </ion-col><ion-col col-6 >{{debtor.total}} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Paid: </ion-col><ion-col col-6 >{{debtor.paid}} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Loan Balance: </ion-col><ion-col col-6 >{{debtor.balance}} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Security Type: </ion-col><ion-col col-6 >{{debtor.security_name}} </ion-col></ion-row>
    </ion-grid>

    <ion-item>
      <ion-select [disabled]="debtor.status === 'cleared'" style="width: 100%; max-width: 100%;" [(ngModel)]="debtor.status" formControlName="status"
                  [class.invalid]="!form.controls.status.valid && blur">
        <ion-option *ngFor="let sta of status" [value]="sta.key" >{{ sta.name }}</ion-option>
      </ion-select>
    </ion-item>
    <p ion-text [hidden]="form.controls.status.valid" color="danger" padding-left>
      select an option..
    </p>

    <button type="submit" ion-button round [disabled]="!form.valid" color="light" class="login-button">Save</button>

  </form>

</ion-content>
