page-profile {
  .username {
    font-size: 1.3em;
  }
  .label {
    color: #7f7f7f;
    .username{
      color: #fff;
    }
  }
  form {
    ::-webkit-input-placeholder {
      color: white !important;
    }
  }
  .invalid {
    border-bottom: 1px solid #FF6153;
  }
  ion-scroll{
    ion-item{
      padding: 0 0;
      div{
        .item-inner{
          padding: 0 5px;
        }
        padding: 0 5px;
      }
    }
  }
}
