<ion-header>
  <ion-navbar primary>
    <button *ngIf="!new_setup || !temp" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="person" item-left></ion-icon> Profile Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card style="font-size: 11px">
    <ion-item>
      Account No: <label style="color: #fff;">{{user.accountNo}}</label>
      <br>
      Name: <label style="color: #fff;">{{user.fullName}}</label>
      <br>
      Type: <b>{{user.userType}}</b>
    </ion-item>
  </ion-card>

  <ion-list no-border>
    <ion-list-header>
      <ion-icon name='settings' item-start></ion-icon>
      General
      <button *ngIf="!new_setup" type="button" ion-button round color="light" (click)="edit()" icon-left item-end ><ion-icon name="create"></ion-icon> Edit</button>
    </ion-list-header>
  </ion-list>

  <ion-card>
    <ion-card-content style="padding: 0;">

      <div>
        <form [formGroup]="profileForm" (submit)="next()" novalidate>
          <ion-item>
            <ion-label inset>Full Names : </ion-label>
            <ion-input [disabled]="!new_setup" formControlName="name" type="text" [(ngModel)]="user.fullName"
                       [class.invalid]="submitted && !profileForm.controls.name.valid && blur"></ion-input>
          </ion-item>
          <p ion-text *ngIf="submitted && !profileForm.controls.name.valid" color="danger" padding-left>
            Name is required
          </p>
          <ion-item>
            <ion-label inset>Address : </ion-label>
            <ion-input [disabled]="!new_setup" formControlName="address" type="text" [(ngModel)]="user.address"
                       [class.invalid]="submitted && !profileForm.controls.address.valid && blur"></ion-input>
          </ion-item>
          <p ion-text *ngIf="submitted && !profileForm.controls.address.valid" color="danger" padding-left>
            Address is required
          </p>
          <ion-item>
            <ion-label inset>Contact : </ion-label>
            <ion-input minlength="10" maxlength="13" [disabled]="!new_setup" formControlName="contact" type="text" [(ngModel)]="user.contact"
                       [class.invalid]="submitted && !profileForm.controls.contact.valid && blur"></ion-input>
          </ion-item>
          <p ion-text *ngIf="submitted && !profileForm.controls.contact.valid" color="danger" padding-left>
            Contact Number is required and should be a valid Phone number
          </p>
          <ion-item >
            <ion-label inset>Occupation: </ion-label>
            <ion-input [disabled]="!new_setup" formControlName="occupation" type="text" [(ngModel)]="user.occupation"
                       [class.invalid]="submitted && !profileForm.controls.occupation.valid && blur"></ion-input>
          </ion-item>
          <p ion-text *ngIf="submitted && !profileForm.controls.occupation.valid" color="danger" padding-left>
            This field is required
          </p>
          <ion-item>
            <ion-label inset>Country : </ion-label>
            <ion-select [disabled]="!new_setup" formControlName="country" [(ngModel)]="user.country" [class.invalid]="submitted && !profileForm.controls.country.valid && blur" >
              <ion-option *ngFor="let c of countries" [value]="c.Code" >{{ c.Name }}</ion-option>
            </ion-select>
          </ion-item>
          <p ion-text *ngIf="submitted && !profileForm.controls.country.valid" color="danger" padding-left>
            Please choose a country
          </p>
          <ion-item>
            <ion-label inset>User Type : </ion-label>
            <ion-select [disabled]="!new_setup" formControlName="user_type" [(ngModel)]="user.userType" [class.invalid]="submitted && !profileForm.controls.user_type.valid && blur" >
              <ion-option *ngFor="let type of user_types" [value]="type.val" >{{ type.name }}</ion-option>
            </ion-select>
          </ion-item>
          <p ion-text *ngIf="submitted && !profileForm.controls.user_type.valid" color="danger" padding-left>
            Select your category
          </p>

          <div *ngIf="user.userType == 'lender'">
            <ion-item>
              <ion-label inset>Company Name : </ion-label>
              <ion-input [disabled]="!new_setup" formControlName="company" type="text" [(ngModel)]="user.company"
                         [class.invalid]="submitted && !profileForm.controls.company.valid && blur"></ion-input>
            </ion-item>
            <p ion-text *ngIf="submitted && !profileForm.controls.company.valid" color="danger" padding-left>
              This field is required
            </p>
            <ion-item>
              <ion-label inset>Company Location : </ion-label>
              <ion-input [disabled]="!new_setup" formControlName="company_location" type="text" [(ngModel)]="user.company_location"
                         [class.invalid]="submitted && !profileForm.controls.company_location.valid && blur"></ion-input>
            </ion-item>
            <p ion-text *ngIf="submitted && !profileForm.controls.company_location.valid" color="danger" padding-left>
              This field is required
            </p>

            <ion-item>
              <ion-label inset>Interest Rate (%): </ion-label>
              <ion-input [disabled]="!new_setup" formControlName="rate" type="number" [(ngModel)]="user.interestRate"
                         [class.invalid]="submitted && !profileForm.controls.rate.valid && blur"></ion-input>
            </ion-item>
            <p ion-text *ngIf="submitted && !profileForm.controls.rate.valid" color="danger" padding-left>
              This Field is required and minimum rate should be 0;
            </p>

            <ion-item>
              <ion-label offset>Securities : </ion-label>
              <ion-avatar item-end>
                <button [disabled]="!new_setup" type="button" ion-button icon-only round small color="secondary" (click)="addSecurities()">
                  <ion-icon name="add-circle" item-left></ion-icon> / <ion-icon name="remove-circle" item-right></ion-icon>
                </button>
              </ion-avatar>
            </ion-item>

            <ion-scroll scrollX="false" scrollY="true" style="min-height: 100px;">
              <ion-list>
                <ion-item style=" background-color: #4b4b4b; padding: 1px;margin-bottom: 2px; margin-top: 2px;"
                          *ngFor="let security of user_securities; let i = index">
                  <p ion-text style="color: #fff" >{{ i + 1 }} - {{ security }}</p>
                </ion-item>
              </ion-list>
            </ion-scroll>

          </div>

          <button type="submit" ion-button round [disabled]="!new_setup" color="light" class="login-button">Save</button>
        </form>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-icon name='power' item-start></ion-icon>
      <button ion-button round (click)="logOut()" item-end>
        Logout
      </button>
    </ion-item>
  </ion-list>

</ion-content>
