page-profile .username {
  font-size: 1.3em; }
page-profile .label {
  color: #7f7f7f; }
  page-profile .label .username {
    color: #fff; }
page-profile form ::-webkit-input-placeholder {
  color: white !important; }
page-profile .invalid {
  border-bottom: 1px solid #FF6153; }
page-profile ion-scroll ion-item {
  padding: 0 0; }
  page-profile ion-scroll ion-item div {
    padding: 0 5px; }
    page-profile ion-scroll ion-item div .item-inner {
      padding: 0 5px; }

/*# sourceMappingURL=profile.css.map */
