<!--
  Generated template for the AddPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Add Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list no-border class="z-depth-3">
    <ion-list-header style="color: #fff">
      Payment Form
    </ion-list-header>
  </ion-list>
  <form  [formGroup]="paymentForm" (submit)="savePayment()" novalidate >
    <ion-grid class="z-depth-3" style="border-top: 2px solid red; margin-bottom: 5px; margin-top: 15px;">
      <ion-row responsive-sm><ion-col col-6 >Total: </ion-col><ion-col col-6 >{{ loan.total }} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Payed: </ion-col><ion-col col-6 >{{ loan.paid }} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Balance: </ion-col><ion-col col-6 >{{ loan.balance }} Ugx</ion-col></ion-row>
    </ion-grid>

    <ion-item>
      <ion-label inset>Payment Date : </ion-label>
      <ion-input formControlName="payment_date" type="text" [(ngModel)]="paymentModel.date"
                 [class.invalid]="submitted && !paymentForm.controls.payment_date.valid && blur"></ion-input>
    </ion-item>
    <p ion-text *ngIf="submitted && !paymentForm.controls.payment_date.valid" color="danger" padding-left>
      provide a valid date(YYYY-MM-DD hh:mm:ss)..
    </p>

    <ion-item>
      <ion-label inset>Payment Amount : </ion-label>
      <ion-input formControlName="amount" type="number" [(ngModel)]="paymentModel.amount"
                 [class.invalid]="submitted && !paymentForm.controls.amount.valid && blur"></ion-input>
    </ion-item>
    <p ion-text *ngIf="submitted && !paymentForm.controls.amount.valid" color="danger" padding-left>
      provide a valid amount..
    </p>

    <button type="submit" ion-button style="margin-top: 20px; width: 100%" color="light" class="login-button">Apply</button>
  </form>

</ion-content>
