<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="home" item-left></ion-icon>  Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <!--
  <h3>Ionic Menu Starter</h3>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  -->

  <ion-grid>
    <ion-row responsive-sm responsive-md class="responsive-sm">
      <ion-col col-12 col-sm col-md col-lg class="col-modified" *ngFor="let image of images; index as i">

        <img width="100%" src="assets/home/{{ image }}" style="height: 200px" />

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
