<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <button ion-button clear (click)="goToLogin()" class="slide-button">
    GO TO LOGIN
    <ion-icon name="arrow-up"></ion-icon>
  </button>

  <div style="padding: 32px 5px" ><!--style="padding: 32px"-->

    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
      <ion-item>
        <ion-label floating>Your email address: </ion-label>
        <ion-input formControlName="email" type="email"
                   [class.invalid]="!signupForm.controls.email.valid && blur"></ion-input>
      </ion-item>
      <p ion-text [hidden]="signupForm.controls.email.valid" color="danger" padding-left>
        Please input a valid email
      </p>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"
                   [class.invalid]="!signupForm.controls.password.valid && blur"></ion-input>
      </ion-item>
      <p ion-text [hidden]="signupForm.controls.password.valid" color="danger" padding-left>
        Password must have atleast 6 characters
      </p>
      <button ion-button block round type="submit" icon-left [disabled]="!signupForm.valid" color="light" class="login-button">
        <ion-icon name="log-in"></ion-icon> SIGN UP</button>
    </form>

  </div>

</ion-content>
