page-loan-status {
  ion-grid{
    ion-row{
      //background: rgba(60, 63, 65, 0.47);
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.74), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.74), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
      ion-col{
        a{
          text-decoration: none;
          &.more{
            cursor: pointer;
            &:hover{
              color: green;
            }
          }
        }
      }
    }
  }
  ion-content{
    ion-card, ion-card-content{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}
