<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="book" item-left></ion-icon> Loans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>

  <ion-list no-border class="z-depth-3">
    <ion-list-header style="color: #fff">
      My Running Loan(s)
      <button end item-end (click)="loanHistory()" ion-button color="light" class="login-button" >History</button>
    </ion-list-header>
  </ion-list>

  <ion-grid *ngFor="let unpaid of unPainLoans" class="z-depth-3" style="border-top: 2px solid red; margin-bottom: 5px; margin-top: 15px;">
    <ion-row responsive-sm><ion-col col-6 >Request Date: </ion-col><ion-col col-6 >{{unpaid.date}} </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Amount: </ion-col><ion-col col-6 >{{unpaid.amount}} Ugx </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Creditor: </ion-col><ion-col col-6 >{{unpaid.lender_name}} </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Interest Rate: </ion-col><ion-col col-6 >{{unpaid.interestRate}} %</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Interest: </ion-col><ion-col col-6 >{{unpaid.interest}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Total: </ion-col><ion-col col-6 >{{unpaid.total}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Paid: </ion-col><ion-col col-6 >{{unpaid.paid}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Loan Balance: </ion-col><ion-col col-6 >{{unpaid.balance}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Security Type: </ion-col><ion-col col-6 >{{unpaid.security_name}} </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Status: </ion-col><ion-col col-6 >{{unpaid.status}} </ion-col></ion-row>
    <ion-row responsive-sm>
      <ion-col col-6 ><button style="width: 100%" ion-button color="danger" class="login-button" (click)="repaymentHistory(unpaid)" >Repayment History</button></ion-col>
      <ion-col col-6 ><button style="width: 100%" *ngIf="unpaid.status === 'accepted'" ion-button color="light" class="login-button" (click)="addPayment(unpaid)" >Add payment</button></ion-col></ion-row>
  </ion-grid>

  <br>

  <ion-list no-border *ngIf="isCreditor">
    <ion-list-header style="color: #fff">
      Loans Dispersed
      <button end item-end (click)="debtsHistory()" ion-button color="light" class="login-button" >Debts History</button>
    </ion-list-header>
  </ion-list>
  <div style="width: 100%" *ngIf="isCreditor">
    <ion-grid *ngFor="let debt of unClearedDebtors" class="z-depth-3" style="border-top: 2px solid dodgerblue; margin-bottom: 5px; margin-top: 15px;">
      <ion-row responsive-sm><ion-col col-6 >Request Date: </ion-col><ion-col col-6 >{{debt.date}} </ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Amount: </ion-col><ion-col col-6 >{{debt.amount}} Ugx</ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Client Name: </ion-col><ion-col col-6 >{{debt.clientName}} </ion-col></ion-row>
      <ion-row responsive-sm><ion-col col-6 >Status: </ion-col><ion-col col-6 >{{debt.status}} </ion-col></ion-row>
      <ion-row responsive-sm>
        <ion-col col-6 ><button *ngIf="debt.status !== 'accepted' && debt.status !== 'cleared'" item-start left ion-button color="primary" class="login-button" (click)="acceptRequest(debt)" >Accept Request</button></ion-col>
        <ion-col col-6 ><button item-end end class="login-button more" color="light" ion-button (click)="moreDetails(debt)" >more...</button></ion-col></ion-row>
    </ion-grid>
  </div>

</ion-content>
