page-loan-status ion-grid ion-row {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.74), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.74), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
  page-loan-status ion-grid ion-row ion-col a {
    text-decoration: none; }
    page-loan-status ion-grid ion-row ion-col a.more {
      cursor: pointer; }
      page-loan-status ion-grid ion-row ion-col a.more:hover {
        color: green; }
page-loan-status ion-content ion-card, page-loan-status ion-content ion-card-content {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/*# sourceMappingURL=loan-status.css.map */
