ion-menu ion-list {
  padding-right: 5px; }
ion-menu ion-toolbar ion-title {
  width: 100%; }
  ion-menu ion-toolbar ion-title ion-icon {
    padding: 3px;
    float: right;
    margin-right: 10px; }

* {
  margin-bottom: auto;
  margin-top: auto; }

.z-depth-3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=app.css.map */
