<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu  <ion-icon menuClose name="close" class="menu-close" item-right></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <img src="assets/home/money3.jpeg" alt="" width="98%" />
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logOut()"><ion-icon name="log-out" item-left></ion-icon>SignOut</button>
      <button menuClose ion-item (click)="exit()"><ion-icon name="power" item-left></ion-icon>Exit</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
