<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="people" item-left></ion-icon> Creditors List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row responsive-sm class="header">
      <ion-col col-3 >Company Name </ion-col>
      <ion-col col-3 >Address </ion-col>
      <ion-col col-3 ><ion-icon name="call" item-left ></ion-icon>  Contact </ion-col>
      <ion-col col-3 ><ion-icon name="mail" item-left ></ion-icon>  Email </ion-col>
    </ion-row>
    <ion-row *ngFor="let lender of lenders" responsive-sm>
      <ion-col col-3 >{{lender.company}}</ion-col>
      <ion-col col-3 >{{lender.company_location}}</ion-col>
      <ion-col col-3 ><a href="tel:{{lender.contact}}" color="danger"  small> {{lender.contact}} </a></ion-col>
      <ion-col col-3 ><a href="mailto:{{lender.email}}" color="primary" small> {{lender.email}} </a></ion-col>
    </ion-row>

    <ion-row *ngIf="lenders.length === 0" responsive-sm style="margin-top: 20%; margin-bottom: auto" >
      <ion-col col-4 ></ion-col>
      <ion-col col-4 >
        <button (click)="refresh()" ion-item style="margin-left: auto; margin-right: auto; width: 100%;" color="green" >
          <ion-icon name="refresh" item-left> </ion-icon>Refresh page
        </button>
      </ion-col>
      <ion-col col-4 ></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
