page-creditors ion-grid ion-row.header {
  border-bottom: .5px solid #fff; }
page-creditors ion-grid ion-row:not(.header):nth-child(even) {
  background: rgba(60, 63, 65, 0.47);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
page-creditors ion-grid ion-row ion-col a {
  text-decoration: none; }
page-creditors ion-grid ion-row ion-col button:hover {
  background: whitesmoke;
  color: black; }

/*# sourceMappingURL=creditors.css.map */
