<!--
  Generated template for the LoanHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Loan History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <p ion-item *ngIf="loans.length < 1">No Previous Loans</p>

  <ion-grid *ngFor="let paid of loans" class="z-depth-3" style="border-top: 2px solid red; margin-bottom: 5px; margin-top: 15px;">
    <ion-row responsive-sm><ion-col col-6 >Request Date: </ion-col><ion-col col-6 >{{paid.date}} </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Amount: </ion-col><ion-col col-6 >{{paid.amount}} Ugx </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Creditor: </ion-col><ion-col col-6 >{{paid.lender_name}} </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Interest Rate: </ion-col><ion-col col-6 >{{paid.interestRate}} %</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Interest: </ion-col><ion-col col-6 >{{paid.interest}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Total: </ion-col><ion-col col-6 >{{paid.total}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Paid: </ion-col><ion-col col-6 >{{paid.paid}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Loan Balance: </ion-col><ion-col col-6 >{{paid.balance}} Ugx</ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Security Type: </ion-col><ion-col col-6 >{{paid.security_name}} </ion-col></ion-row>
    <ion-row responsive-sm><ion-col col-6 >Status: </ion-col><ion-col col-6 >{{paid.status}} </ion-col></ion-row>
  </ion-grid>

</ion-content>
