<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="contract" item-left></ion-icon> Loan Application</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-border>
    <ion-list-header>
      <ion-icon name='settings' item-start></ion-icon>
      Form
    </ion-list-header>
  </ion-list>

  <ion-card style="min-height: 90%">
    <ion-card-content>

      <div style="width: 100%; min-height: 50px">
        <ion-label ion-text style="font-size: 26px; font-weight: bolder;">LOAN FORM</ion-label>
      </div>

      <div>
        <form [formGroup]="loanForm" (submit)="applyLoan()" novalidate>
          <ion-item>
            <ion-label inset>Laon Amount : </ion-label>
            <ion-input formControlName="amount" type="number" [(ngModel)]="loan.amount"
                       [class.invalid]="submitted && !loanForm.controls.amount.valid && blur"></ion-input>
          </ion-item>
          <p ion-text *ngIf="submitted && !loanForm.controls.amount.valid" color="danger" padding-left>
            provide a valid amount..
          </p>
          <ion-item>
            <ion-label inset>Lender : </ion-label>
            <ion-select formControlName="lender" [(ngModel)]="loan.lender" (ionChange)="onLenderChange()" [class.invalid]="submitted && !loanForm.controls.lender.valid && blur" >
              <ion-option *ngFor="let len of lenders" [value]="len.accountNo" >{{ len.company }}</ion-option>
            </ion-select>
          </ion-item>
          <p ion-text *ngIf="submitted && !loanForm.controls.lender.valid" color="danger" padding-left>
            Select a creditor for your request
          </p>
          <ion-item>
            <ion-label inset>Interest Rate (%): </ion-label>
            <ion-input formControlName="rate" type="number" [(ngModel)]="loan.interestRate" [readonly]="true"
                       [class.invalid]="submitted && !loanForm.controls.rate.valid && blur"></ion-input>
          </ion-item>
          <p ion-text *ngIf="submitted && !loanForm.controls.rate.valid" color="danger" padding-left>
            Select a creditor to process the rate
          </p>
          <ion-item>
            <ion-label inset>Security / Type : </ion-label>
            <ion-select formControlName="security" [(ngModel)]="loan.security_name" [class.invalid]="submitted && !loanForm.controls.security.valid && blur" >
              <ion-option *ngFor="let sec of securities; let i = index" [value]="sec" >{{ sec }}</ion-option>
            </ion-select>
          </ion-item>

          <!--
          <ion-item>
            <ion-label inset>Attachment : </ion-label>
            <ion-avatar item-end>
              <button type="button" ion-button round small color="primary" (click)="attachFile()" class="login-button"><ion-icon name="attach" item-left></ion-icon> Attach</button>
            </ion-avatar>
          </ion-item>
          -->

          <button type="submit" ion-button round color="light" class="login-button">Apply</button>
        </form>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
